{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block accueil %}current-list-item{% endblock %}

{% block body %}
<!-- search area -->
<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Vos envies à portée de main</p>
								<h1>Découvrez nos produits exclusifs</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Commandez</a>
									<!-- <a href="contact.html" class="bordered-btn">Contact Us</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Inspiration Quotidienne</p>
								<h1>Articles, Conseils & Tendances</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Lire les Articles</a>
									<a href="contact.html" class="bordered-btn">Contactez-nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Ne manquez rien !</p>
								<h1>Événements & Promotions Spéciales</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Voir les Événements</a>
									<a href="contact.html" class="bordered-btn">Contactez-nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

{% endblock %}
