{% extends 'admin.html.twig' %}
{% block body %}
    <div class="container">
        <div class="page-inner">
            <div>
                <table class="table table-bordered shadow w-75">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ category.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ category.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
