{% extends 'admin.html.twig' %}
{% block body %}
<div class="container">
    <div class="page-inner">
        <div>
            {{ include('backend/article/_form.html.twig') }}
        </div>
    </div>
{% endblock %}